body{
    background-image: url(nature.jpg) ;
    mask-repeat:no-repeat;
}



.image{
    img{
        width: 400px;
        height: 400px;
        
    }
}
.bodypart{
    p{
        font-size: x-large;
    
    }
}
